# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# https://www.better-auth.com/docs/introduction
# Remove if not needed, need to test
BETTER_AUTH_SECRET=""

# Drizzle
DATABASE_URL=""

# AWS SES
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# Github
GITHUB_TOKEN=CREATE_GITHUB_KEY

# Square
NEXT_PUBLIC_SQUARE_APP_ID=sandbox-key
NEXT_PUBLIC_SQUARE_LOCATION_ID=Location-id
SQUARE_ACCESS_TOKEN=square-sandbox-access-token

# Upstash
UPSTASH_REDIS_REST_URL=upstash-redis-url
UPSTASH_REDIS_REST_TOKEN=upstash-redis-token

# Mapbox
NEXT_PUBLIC_MAPBOX_API=mapbox-key

# Cron (openssl rand -hex 32)
CRON_SECRET=some-random-secret