language: node_js

nodejs:
  - 'lts/*'
  - '12'

# if using Ubuntu 16 need this library
# https://github.com/cypress-io/cypress-documentation/pull/1647
addons:
  apt:
    packages:
      - libgconf-2-4

cache:
  yarn: true
  directories:
    - ~/.cache

script:
  - yarn build
  - yarn start & wait-on http://localhost:3000
  - yarn cypress:run

notifications:
  email: false
