language: node_js

node_js:
  - 10.13

# if using Ubuntu 16 need this library
# https://github.com/cypress-io/cypress-documentation/pull/1647
addons:
  apt:
    packages:
      - libgconf-2-4

cache:
  yarn: true
  # cache both npm modules and Cypress binary
  directories:
    - $HOME/.cache/yarn
    - $HOME/.cache/Cypress
    - node_modules
    - .next/cache

install:
  # use the new "ci" command for fastest installs on CI
  - yarn

script:
  - yarn build
  - yarn start & wait-on http://localhost:3000
  - yarn cypress:run
