@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --shadow-*: initial;
  --color-accented: oklch(0.85614 0.15981 176.162);

  --animate-wiggle: wiggle 500ms cubic-bezier(0.2, 0.8, 0.4, 1) both;

  /* **`ease-in`**: (Starts slow, speeds up) Should generally be avoided as it makes the UI feel slow. */
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  /* **ease-out**: (Starts fast, slows down) Best for elements entering the screen or user-initiated interactions. */
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  /* **ease-in-out**: (Smooth acceleration and deceleration) Perfect for elements moving within the screen. */
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);

  @keyframes wiggle {
    0%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
}

@theme inline {
  /* removed card variables coz we don't use it */
  /* removed popover variables from shadcn since it's the same as background and foreground */
  /* removed secondary variables from shadcn since it's the same as accent */
  /* removed --input since it's only used in input borders */
  /* removed --ring since it's the same as muted-foreground */
  /* removed sidebar variables and replaced with default theme ones */
  --color-background: var(--background);
  --color-background-dark: var(--color-neutral-950);
  --color-foreground: var(--foreground);
  --color-foreground-dark: var(--color-neutral-50);
  --color-primary: var(--primary);
  --color-primary-dark: var(--color-neutral-300);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-foreground-dark: var(--color-neutral-900);
  --color-muted: var(--muted);
  --color-muted-dark: var(--color-neutral-800);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted-foreground-dark: var(--color-neutral-400);
  --color-accent: var(--accent);
  --color-accent-dark: var(--color-neutral-700);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-foreground-dark: var(--color-neutral-50);
  --color-destructive: var(--destructive);
  --color-destructive-dark: var(--color-red-400);
  --color-border: --alpha(var(--border) / 20%);
  --color-border-dark: --alpha(var(--color-white) / 20%);
}

:root {
  --background: var(--color-white);
  --foreground: var(--color-neutral-950);
  --primary: var(--color-neutral-900);
  --primary-foreground: var(--color-neutral-50);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-500);
  --accent: var(--color-neutral-200);
  --accent-foreground: var(--color-neutral-900);
  --destructive: var(--color-red-500);
  --border: var(--color-black);
}

.dark {
  --background: var(--color-neutral-950);
  --foreground: var(--color-neutral-50);
  --primary: var(--color-neutral-300);
  --primary-foreground: var(--color-neutral-900);
  --muted: var(--color-neutral-800);
  --muted-foreground: var(--color-neutral-400);
  --accent: var(--color-neutral-700);
  --accent-foreground: var(--color-neutral-50);
  --destructive: var(--color-red-400);
  --border: var(--color-white);
}

@layer base {
  * {
    @apply border-border outline-muted-foreground/50;
  }
  body {
    @apply bg-black text-foreground;
    scrollbar-width: thin;
  }
  input[type="time"]::-webkit-datetime-edit-hour-field:focus,
  input[type="time"]::-webkit-datetime-edit-minute-field:focus,
  input[type="time"]::-webkit-datetime-edit-ampm-field:focus {
    @apply bg-accented text-black;
  }
  .mapboxgl-popup-content {
    @apply rounded-none! bg-transparent! p-0! shadow-none!;
  }
  .mapboxgl-popup-tip {
    @apply hidden!;
  }

  .agenda {
    @apply space-y-2 min-h-0 overflow-auto text-sm;
  }
  .agenda :is( h1, h2, h3, h4, h5, h6) {
    @apply font-bold;
  }
  .agenda h1 {
    @apply text-xl;
  }
  .agenda h2 {
    @apply text-lg;
  }
  .agenda h3 {
    @apply text-base;
  }
}

.material-symbols-sharp {
  font-variation-settings:
    "FILL" 0,
    "GRAD" 0,
    "opsz" 20;
}

.sq-card-message {
  margin: 0 !important;
}
