@tailwind base;

@layer base {
  ::selection {
    @apply bg-accent text-primary;
    text-shadow: none;
  }
}
:root {
  font-size: clamp(14px, 5vmin, 16px);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  transition: background 0.3s, border 0.3s;
}

html {
  height: 100%;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  line-height: 1.5em;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

@tailwind components;

@layer components {
  .main {
    @apply relative grid mt-16;
    min-height: calc(100vh - (64px + 228px));
  }

  .logo {
    @apply object-contain object-center w-full transition duration-300 hover:filter-none;
    max-height: 100px;
    filter: grayscale(100%) contrast(0.2) brightness(1.1);
  }

  .filled-button {
    @apply font-black border text-secondary border-primary bg-primary hover:bg-opacity-75 focus:outline-none focus:ring-inset focus:ring focus:ring-accent dark:border-secondary dark:bg-transparent dark:hover:bg-secondary dark:hover:text-primary dark:focus:ring-opacity-0 dark:focus:bg-secondary dark:focus:text-primary;
  }

  .legal-content {
    @apply text-sm;
    counter-reset: paragraph;
  }
  .legal-content .list-heading,
  li {
    @apply relative;
  }
  .legal-content .list-heading:after {
    @apply absolute top-0 pr-4;
    counter-increment: paragraph;
    content: counter(paragraph, decimal-leading-zero) '';
    right: 100%;
  }
  .legal-content .list-heading:before {
    @apply absolute top-0 block w-0.5 h-full bg-primary dark:bg-secondary;
    content: '';
    left: -10px;
  }
  .legal-content ul {
    list-style-type: circle;
  }
  .legal-content ol {
    @apply pl-6 mb-4 last:mb-0;
    counter-reset: section;
  }
  .legal-content ol > li:before {
    @apply absolute top-0 pr-4;
    counter-increment: section;
    content: counters(paragraph, '') '.' counters(section, '.') ' ';
    right: 100%;
  }

  .changelog {
    @apply relative text-sm;
  }
  .changelog:before {
    @apply absolute top-0 left-0 block w-0.5 h-full bg-primary dark:bg-secondary;
    content: '';
  }

  .progress::-moz-progress-bar {
    @apply bg-accent;
  }
  .progress::-webkit-progress-bar {
    @apply bg-transparent;
  }
  .progress::-webkit-progress-value {
    @apply bg-accent;
  }
}

/*
Offsets all ID's with prefix '_' with the height of header.
This also means all ID's must be prefixed by '_'.
*/
[id^='_'] {
  scroll-margin-top: 4rem;
}

.image-grid span {
  min-height: 70%;
  max-height: 80px;
  min-width: 100%;
  max-width: 200px;
}
.membership {
  max-width: calc(100vw - 1.5rem);
}

.textarea {
  min-height: 8rem;
}

.modal {
  height: max-content;
}

@tailwind utilities;
